.bgnav {
  background-color: #fdcf02;
}

.bgsectioncolors {
  background-color: #1973b7;
}

.bgsectioncolors2 {
  background-color: #6b2b47;
}

.p_block_color {
  font-size: 18px;
  color: #ffffff;
}

.h2_block_color {
  font-size: 32px;
  color: #ffffff;
}
.p_block_white {
  font-size: 18px;
  color: #2c2c2c;
}

.h2_block_white {
  font-size: 32px;
  color: #2c2c2c;
}

.btn1 {
  background-color: #fdcf02;
}

.btn1-hover-effect:hover {
  background-color: #b69ee3;
  color: #ffffff;
}

.btn2 {
  background-color: #1f8447;
  color: #ffffff;
}

.btn2-hover-effect:hover {
  background-color: #fdcf02;
  color: #2c2c2c;
}

.btn3 {
  background-color: #fdcf02;
  color: #2c2c2c;
}

.btn3-hover-effect:hover {
  background-color: #2c2c2c;
  color: #ffffff;
}

body {
  background-color: #f0f0f0; /* Couleur de fond légère */
}

h1,
h2 {
  color: #0057a3; /* Couleur bleue LEGO */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.card {
  border-radius: 15px; /* Coins arrondis pour les cartes */
}

.btn-custom {
  background-color: #e4002b; /* Couleur rouge LEGO */
  color: white;
}

.btn-custom:hover {
  background-color: #c30026;
  color: white;
}

.bg-intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/stock_images/crowd.jpg");
  background-size: cover;
  background-position: center;
}

.bg-technic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/stock_images/car3.jpg");
  background-size: cover;
  background-position: center;
}

.bg-star-wars {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/stock_images/SWL2.jpg");
  background-size: cover;
  background-position: center;
}

.bg-arc {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/stock_images/Paris.jpg");
  background-size: cover;
  background-position: center;
}
